.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 4px;
  max-width: 500px;
  margin: 0 auto;
  padding: 24px;
  user-select: none;
}

.page {
  padding: 4px 10px 0 10px;
  line-height: 24px;
  border-radius: 4px;
  color: #888;
  font-weight: bold;
}
.page.link {
  cursor: pointer;
  transition: background-color 100ms ease, color 100ms ease;
}
.page.link:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #000;
}
.page.active {
  background: #105fda;
  color: #fff;
}

.page svg {
  font-size: 24px;
  color: #888;
}